body {
  background-color: hsl(233, 47%, 7%);
}

.contenedor {
  font-size: 15px;
  font-family: "Inter", sans-serif;
  color: hsl(0, 0%, 100%);
  background-color: hsl(244, 38%, 16%);
  margin: 20px auto;
  text-align: center;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: space-between;
  -ms-flex-align: space-between;
  align-items: space-between;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  width: 300px;
}

.contenedor-informacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.titulo {
  margin: 30px;
}

span {
  color: hsl(277, 64%, 61%);
}

.parrafo {
  color: hsla(0, 0%, 100%, 0.75);
  margin: 15px 30px;
}

.contenedor-datos-padre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 15px;
}

.contenedor-datos {
  margin: 10px;
}

.datos {
  font-size: 24px;
  font-weight: 700;
  margin: 10px;
}

.descripcion {
  margin: 10px;
  font-size: 12px;
  color: hsla(0, 0%, 100%, 0.6);
}

img {
  width: 300px;
  height: 250px;
  -o-object-fit: cover;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.color {
  background-color: hsla(277, 61%, 34%, 0.4);
  width: 300px;
  height: 250px;
  position: absolute;
  top: 20px;
  z-index: 30;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@media (max-width: 300px) {
  .contenedor,
  .color {
    width: 220px;
  }
}

@media (min-width: 1024px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
  }

  .contenedor {
    margin: unset;
    text-align: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 988px;
    height: 400px;
  }

  .contenedor-datos-padre {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .titulo,
  .parrafo {
    margin: 30px 45px;
    width: 380px;
  }

  .contenedor-datos-padre {
    margin: 0 30px;
    width: 420px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  img,
  .color {
    width: 482px;
    height: 400px;
    border-top-left-radius: unset;
    border-bottom-right-radius: 10px;
  }

  .color {
    top: 0;
    bottom: 0;
    margin: auto;
  }
}
